body {
  background-color: #00011f !important;
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  position: relative;
}

h1 {
  font-weight: 700 !important;
  letter-spacing: 2px;
}

.navWrapper {
  position: fixed;
  left: 0px;
  z-index: 2;
  width: 100px;
  height: 100%;
  box-shadow: 4px 1px 20px 2px rgba(255, 255, 255, 0.075);
}

.bodyWrapper {
  position: relative;
  display:none;
  height: 100vh;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.bodyWrapper.currentPage {
  display: block;
}

.contentWrap {
    padding: 30px 0px;
    height: 100%;
}

.backgroundGradient{
  width: 100%;
  max-width: 100px;
  height: 4px;
  background: #2a4cd3; /* Old browsers */
  background: -moz-linear-gradient(left, #2a4cd3 0%, #c72af7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2a4cd3 0%,#c72af7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2a4cd3 0%,#c72af7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.backgroundGradient.slim{
  height: 1px;
}

.navWrapper .nav .navIcon {
  font-size: 2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.navWrapper .nav .navIcon:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}
.navWrapper .nav {
  margin-top: 20px;
  height:100%;
}

.navWrapper .nav .menuIcons{
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.navWrapper .nav .mainLogo {
  width: 60px;
  opacity: 0.95;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 15px;
}

.navWrapper .nav .iconText {
  padding-top: 5px;
  font-size: 18px;
}

.homeContent{

  position: absolute;
  padding-right: 30px;
  top: calc(50% - 30px);
  transform: translateY(-50%);
}

.homeContent .backgroundGradient{
  margin: auto;
}

.contentWrap .headerContent {
  text-align: center;
  margin: auto;
  padding: 20px 0px;
  font-size: 30px;
}
.bodyWrapper #particles-js {
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 10px);
}

.bodyWrapper.currentPage #particles-js {
  opacity: 1;
  transition: all 0.3s;
}

.contentWrap .headerContent .introContent {
  padding-top: 20px;
  max-width: 80%;
  margin: auto;
}

.IntroPage {
  display: none;
}

.bodyWrapper #canvas {
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
  top: 0;
  left: 0;
  z-index: 1;
}
.bodyWrapper.currentPage #canvas {
  opacity: 1;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.headerText h1 {
  text-transform: uppercase;
}

.bodyWrap{
  padding: 30px 0px 50px 30px;
}
